<%= form_with(model: associate, local: true) do |form| %>
  <% if associate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associate.errors.count, "error") %> prohibited this associate from being saved:</h2>

      <ul>
      <% associate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :associate_name %>
  </div>

  <div class="field">
    <%= form.label :irc_nick %>
    <%= form.text_field :irc_nick, id: :associate_irc_nick %>
  </div>

  <div class="field">
    <%= form.label :mail_id %>
    <%= form.text_field :mail_id, id: :associate_mail_id %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :associate_phone %>
  </div>

  <div class="field">
    <%= form.label :manager %>
    <%= form.select(:manager_id, options_for_select(Role.find_by_role('AM').associates.collect{|x| [x.name, x.id]}
)) %>
  </div>

  <div class="field">
    <%= form.label :roles %>
    <%= form.select(:role_id, options_for_select(Role.all.collect{|m| [m.role, m.id]})) %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <%= form.select(:group_id, options_for_select(Group.all.collect{|m| [m.sbr, m.id]})) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>